*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.apk
app/src/main/jniLibs
full/
debug/
release/
app/com.crashlytics.settings.json
app/session_analytics.tap